<footer class="footer__ ">
 
    <section class="footer__side">
        <div class="footer__g">
            <div><a class="footer__txt" href="">Mentions legales</a></div>
            <div><a class="footer__txt" href="">Conditions générales de ventes</a></div>
            <div><a class="footer__txt" href="">A propos</a></div>
        </div>
        <div class="footer__d">
            <div><a class="footer__txt" href="">Accueil</a></div>
            <div><a class="footer__txt" href="">Boutique</a></div>
            <div><a class="footer__txt" href="">Compte</a></div>
            <div><a class="footer__txt" href="">Connexion</a></div>
            <div><a class="footer__txt" href="">Inscription</a></div>
        </div>
    </section>



</footer>