<footer class="footer__">
 
    <section class="footer__side">
        <div class="footer__g">
            <p>iufuyfbuyerfuoeyfv</p>
        </div>
        <div class="footer__d">
            <p>iufuyfbuyerfuoeyfv</p>
           
        </div>
    </section>

</footer>